.register__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 340px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 0.7rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.register__label-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.register__label-input input {
  width: 290px;
  height: 30px;
}

.register__btn {
  width: 290px;
  height: 30px;
  color: white;
  background-color: #f85555;
  font-weight: 500;
}

.register__login {
  font-size: 0.8rem;
  font-weight: 500;
}

.login {
  color: blue;
}
